{% load thumbnail i18n %}

<table class="row" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
        <tr>
            <td class="wrapper last" valign="top">
              <table class="twelve columns" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="padding:5px" class="text" valign="top">
                            <p>* Angebote gültig für diesen Monat</p>
                            <p>* Solange der Vorrat reicht&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
              </table>
            </td>
        </tr>
        <tr>
            <td height="2px"align="center" style="padding: 20px; background: {{ CONFIG.color_1 }};"></td>
        </tr>
        <tr>
            <td style="background-color:white;" height="2px" bgcolor="{{ CONFIG.color_background }}" align="center">
                <a href="{{ BASE_URL }}">
                  <img src="{{ BASE_URL }}{% thumbnail CONFIG.logo 400x120 crop %}" alt="logo" data-unique-identifier="">
                </a>
            </td>
        </tr>
        <tr>
        <td style="color: #000; background-color:{{ CONFIG.color_1 }}; font-size: 24px; padding: 20px 0;" align="center">
          <p>
            <strong>Preise gelten nur bei online Bestellung!</strong>
          </p>
        </td>
        </tr>
        <tr>
            <td style="color: #000; background: {{ CONFIG.color_1 }}; font-size: 13px; padding-bottom: 10px;" align="center">
              {{ CONFIG.company_name }} | {{ CONFIG.company_street }} | {{ CONFIG.company_postcode }} {{ CONFIG.company_city }} <br> Telefon: <a href="tel:{{ CONFIG.company_support_phone }}">{{ CONFIG.company_support_phone }}</a> | E-Mail: <a href="mailto:{{ CONFIG.company_support_email }}">{{ CONFIG.company_support_email }}</a><br> <a href="{{ BASE_URL }}{{ impressum_url }}">Impressum</a> | <a href="{{ BASE_URL }}{{ delivery_times_url }}">Liefergebiete</a></td>
        </tr>
        <tr>
            <td style="color: #333; font-size: 10px; padding: 5px;" align="center">Sie möchten unseren Newsletter nicht länger erhalten.&nbsp; <!--#link#--><a href="{{ BASE_URL }}{% url 'newsletter_unsubscribe_request' newsletter.slug %}">{% trans "Unsubscribe" %}</a><!--#/link#--></td>
        </tr>
    </tbody>
</table>
